.App {
  text-align: center;
  background-color: black;
  color: limegreen;
  font-family: monospace, 'Courier New', Courier;
  height: 100vh;
  scrollbar-color: limegreen #052e16;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000; 
}

::-webkit-scrollbar-thumb {
  background-color: limegreen;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #052e16;
}

.ascii-art {
  font-size: 10px;
  white-space: pre;
  font-family: 'Courier New', monospace;
  color: limegreen;
  background-color: black;
  padding: 10px 0;
}
.mini-ascii-art {
  font-size: 4px;
  white-space: pre;
  font-family: 'Courier New', monospace;
  color: limegreen;
  background-color: black;
  padding: 10px 0;
}